<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  
  	 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	 <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
  	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
	
	<script>
$( function() {
    $( "#datepicker" ).datepicker({
      showOn: "button",
      buttonImage: "/img/calendar.png",
      buttonImageOnly: true,
      buttonText: "Select date"
    });
  } );
  </script>
	
</head>
<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">
	<th:block th:include="fragments/navbarTransparent"></th:block>

	<div class="main">
		<th:block th:include="fragments/navbarPrimary"></th:block>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2 col-sm-12">
						<div class="title">
							<h2>Nueva Orden de compra</h2>
						</div>

						<form th:object="${purchaseorder}" th:action="@{/purchaseorders/create}"
							th:method="post">
							
							<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
								<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
							</div>
							
							
							<div class="form-group">
								<label for="supplier">Proveedor</label> 
								<select id="supplier"
									class="form-control" th:field="*{suppliers}">
									<option th:each="supplier : ${suppliers}"
										th:text="${supplier.enterprise}" th:value="${supplier.supplierId}"></option>
								</select>
							</div>
							

								<div class="form-group">
								<label for="product"  >Producto</label> 
								<select id="product"
									class="form-control" th:field="*{products}">
									<option th:each="product : ${products}"
										th:text="${product.name}" th:value="${product.id}"></option>
										
								</select>
								
							</div>
							

							<div class="form-group">
								<input th:field="*{responsible}" id="responsible" type="text"
									class="form-control validate"> <label for="responsible">Responsable</label>
								<span class="text-danger errorMsg"
									th:if="${#fields.hasErrors('responsible')}" th:errors="*{responsible}"></span>
							</div>
							
							

						<div class="form-group">
								<label for="date">Fecha</label>
							<input th:field="*{date}" id="datepicker" type="text"
								class="form-control validate"> 
								<span class="text-danger errorMsg"
								    th:if="${#fields.hasErrors('date')}" th:errors="*{date}">								
								</span>
							</div>
							
							
													<div class="form-group">
								<textarea th:field="*{detail}" id="detail"
									class="form-control" rows="6"></textarea>
								<label for="detail">Detalle</label> <span
									class="text-danger errorMsg"
									th:if="${#fields.hasErrors('detail')}"
									th:errors="*{detail}"></span>
							</div>
							
							<button type="submit" class="btn btn-dark">Registrar</button>
							<a class="btn btn-primary" th:href="@{'/purchaseorders'}">Cancelar</a>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/footer"></th:block>
	<th:block th:include="fragments/scripts"></th:block>
</body>

</html>