<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<script src="../../static/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../static/sweetalert.css">


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	 <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
	
<!-- Scrip del datapicker -->	
<script>
$( function () {
    $( "#date" ).datepicker({
      showOn: "button",
      buttonImage: "/img/calendar.png",
      buttonImageOnly: true,
      buttonText: "Select date"
    });
  } );
  </script>
  

<!-- Scrip del checkradio -->	

<script type="text/javascript">
$(document).ready(function()
{
    $("input[name=area]").click(function () {    
        $('input:radio[name=area]:checked').val());
         $(this).val());
    });
});
</script>


<script>
var getData=function()
{ 
var quantity=document.getElementById('quantity').value;
var state=document.getElementById('state').value;
var date=document.getElementById('date').value;
var product=document.getElementById('product').value;


if(state=="" || quantity=="")
	{
	if(date=="" || product=="")
		{
		alert("Error al crear la solicitud, ingrese nuevamente");
		}
	}
	
	else{	
		if(date=='date' && state=='state' )
				{
				
					alert("Registro satisfactorio");
					
	
				}
				else{
					alert("Registro satisfactorio");
		
					}
		}
	
	
}


</script>


</head>
<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">
	<th:block th:include="fragments/navbarTransparent"></th:block>

	<div class="main">
		<th:block th:include="fragments/navbarPrimary"></th:block>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2 col-sm-12">
						<div class="title">
							<h2>New Purchase Request</h2>
						</div>

						<form th:object="${request}" th:action="@{/requests/create}"
							th:method="post">
							
							<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
							   <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
							
							</div>
							
							
							
							
 								 <h5>[Seleccione Area]</h5>
									 <fieldset>
									 <input type="radio" name="area" id="area" value="Produccion" checked="checked"> Produccion
									<input type="radio" name="area" id="area" value="Inventario"> Inventario
									<input type="radio" name="area" id="area" value="Contabilidad"> Contabilidad
									<input type="radio" name="area" id="area" value="Finanzas"> Finanzas
									<input type="radio" name="area" id="area" value="TI"> TI
										<span class="text-danger errorMsg"
										   	th:if="${#fields.hasErrors('area')}" th:errors="*{area}">								
										</span>
									 </fieldset>
								<h6> </h6>



						   <div class="form-group">
								<input th:field="*{product}" id="product" type="text"
									class="form-control validate"> <label for="product">Producto</label>
								<span class="text-danger errorMsg"
								    th:if="${#fields.hasErrors('product')}" th:errors="*{product}">								
								</span>
							</div>
							
							<div class="form-group">
							
								<input th:field="*{quantity}"  type="number" value="1" name="quantity[]" id="quantity"
									class="form-control validate"> <label for="quantity">Cantidad</label>
								<span class="text-danger errorMsg"
								    th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">								
								</span>
							</div>
							
							

							<div class="form-group">
								<input th:field="*{state}" id="state" type="text"
									class="form-control validate"> <label for="state">Estado</label>
								<span class="text-danger errorMsg"
								    th:if="${#fields.hasErrors('state')}" th:errors="*{state}">								
								</span>
							</div>
							
							<div class="form-group">
								<label for="date">Fecha</label>
							<input th:field="*{date}" id="date" type="text"
								class="form-control validate"> 
								<span class="text-danger errorMsg"
								    th:if="${#fields.hasErrors('date')}" th:errors="*{date}">								
								</span>
							</div>
							
							
									
							
							<div class="form-group">
								<input th:field="*{unit_price}" id="unit_price" type="text"
									class="form-control validate"> <label for="state">Unidad de precio</label>
								<span class="text-danger errorMsg"
								    th:if="${#fields.hasErrors('unit_price')}" th:errors="*{unit_price}">								
								</span>
							</div>
							
							<div class="form-group">
								<textarea th:field="*{description}" id="description"
									class="form-control" rows="6"></textarea>
								<label for="description">Descripcion</label> 
								<span class="text-danger errorMsg"
								    th:if="${#fields.hasErrors('description')}" th:errors="*{description}">								
								</span>
							</div>
							
								
							<button class="btn btn-primary" onclick="getData()">Registrar</button>
									
							<!--  <button type="submit" class="btn btn-dark">Guardar</button> -->
							<a class="btn btn-primary" th:href="@{'/requests'}">Cancelar</a>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
  	<th:block th:include="fragments/footer"></th:block>
  		<th:block th:include="fragments/scripts"></th:block>
  	
  
</body>

</html>